/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav,
.dropdown-content {
  background-image: url(../img/white-waves.png)
}

#mainContent,
.blocks {
  background-image: url(../img/qbkls.png)
}

html,
.darkprism {
  background-image: url(../img/prism.png)
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* Adding Font files for hebrew letters */
@font-face {
  font-family: stamAshkenaz;
  src: url(../font/stamashkenazclm-webfont.woff);
}

.stamAshkenaz {
  font-family: stamAshkenaz;
}

@font-face {
  font-family: stamSefard;
  src: url(../font/stamsefaradclm-webfont.woff);
}

.stamSefard {
  font-family: stamSefard;
}

.rounded {
  border-radius: 25px;
}

.plump {
  padding: 1%;
}
